@import "mixins-cust";
@import "font-awesome";

body{
	font:18px Helvetica, arial, freesans, clean, sans-serif;
	color:gray;
}

.field{
	border:2px solid #ccc;
	padding:10px;
	padding-top:20px;
	line-height:30px;
	position:relative;
	margin:30px;

	input[type="text"]{

		@include rounded(5px);
		border:2px solid #ccc;
	}
}
.heading{
	position:absolute;
	height:30px;
	background-color:white;
	top:-18px;
	border:2px solid #ccc;
	padding-left:10px;
	padding-right:10px;	
}

.heading-rule{
	position:absolute;
	height:30px;	
	@include gradient(#eee,#000);
	top:-18px;
	
	padding-left:10px;
	padding-right:5px;
	cursor:pointer;
	color:white;
}
.rule-group{
	border:2px dotted #ccc;
	padding:10px;
	margin:10px;
	margin-top:30px;
	position:relative;
	background-color:#eee;
}
.add-rule-group{
	color:#00aa00;
	cursor:pointer;
}
.delete-rule-group, .delete-field{
	color:red;
	cursor:pointer;
	float:right;
	padding-left:20px;
}
.add-field{
	float:right;
	color:#00aa00;
	cursor:pointer;
	font-weight: bold;
	margin-right: 30px;
	font-size:22px;
}